button {
	cursor: pointer;
	background-color: #49c4a2;
	color: white;
	padding: 1rem;
	border-radius: 0.75rem;
	font-size: 1.25rem;
	text-transform: capitalize;
	border: none;
	display: flex;
	align-items: center;
	transform: scale(0.75);
	transition: all ease-in-out 500ms;
	&:hover {
		transform: scale(0.95);
	}
}
