.hero {
	min-height: 100vh;
	text-align: center;
	padding: 4rem 2rem 0 0 2rem;

	.text-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		
	}
	.image-section {
		overflow: hidden;
		padding: 2rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		img {
			overflow: hidden;
			max-width: 98vw;
		}
	}
}

@media screen and (min-width: 768px) {
	.hero {
	}
}
