.jumpto-nav {
	max-width: 1200px;
	margin: auto;
	display: flex;
	overflow: hidden;
	justify-content: space-around;
	border-radius: 9999px;
	background: #5454542f;
	padding: 0.5rem;
	position: relative;
	top: -8rem;
	font-size: 1rem;
	ul {
		display: flex;
		flex-wrap: wrap;

		gap: 1rem;
		align-items: center;
		justify-content: center;
		li {
			border-radius: 9999px;
			padding: 0.5em;
			&:hover {
				background: #54545480;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	nav {
	}
}
